@model WebApp.Models.ContributorTypeData

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContributorTypeData</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.ContributorTypeID)
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Language
        </dt>
        <dd>
            @if (@Model.LanguageID == 1)
            {
                <span>English</span>
            }
            else if (Model.LanguageID == 2)
            {
                <span>Arabic</span>
            }
            else
            { <span>French</span>}

        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ContributorTypeID  }) |
    <a asp-action="Index">Back to List</a>
</div>
