@model WebApp.Models.MovieData

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MovieData</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.MovieID)
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Language
        </dt>
        <dd>
            @if (Model.LanguageID == 1)
            {
                <span>English</span>
            }
            else if (Model.LanguageID == 2)
            {
                <span>Arabic</span>
            }
            else
            { <span>French</span>}

        </dd>
        <dt>
            Contributors
        </dt>
        <dd>
            @if (Model.MovieContributors.Count() > 0)
            {
                @foreach (var item in Model.MovieContributors)
                {
                    <span>@item.Contributors.Title</span><br />
                }
            }
        </dd>
        <dt>
            Genres
        </dt>
        <dd>
            @if (Model.MovieGenres.Count() > 0)
            {
                @foreach (var item in Model.MovieGenres)
                {
                    <span>@item.Genres.Title</span><br />
                }
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.MovieID  }) |
    <a asp-action="Index">Back to List</a>
</div>
